img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

p {
  margin-top: 20px;
  color: #FF1053;
  font-family: skia;
  font-weight: bold;
}

h1, h4, h2 {
  text-align: center;
  font-family: skia;
  line-height: 50px;
}

#shire, #starship, #overlook, #bathhouse {
  display: none;
}

#quiz {
  width: 50%;
  margin-left: 25%;
}

.radio {
  padding: 5px;
}

.jumbotron {
  color: #ECC8AF;
  background-color: #3A405A;
}

.btn {
  margin: 30px 0 30px 0;
  color: white;
  background-color: #393D3F;
  font-family: skia;
}

.btn:hover {
  color: white;
  background-color: #FF1053;
  font-family: skia;
}
